.container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #795DF6;
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
}
.Increase,.Decrease{
    height: 2rem;
    width: 2rem;
    background-color: #22C45F;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.Decrease{
    background-color: #EF4545;
}
.incDecBtn{
    display: flex;
    gap: 1rem;
    align-items: center;
}
input{
    height: 1.5rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
}